* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#price {
    width: 90px;
    margin: auto;
    height: 20px;
    border: 0.5px solid;
    margin-top: 2rem;
    border-radius: 0.3rem;
}

main {
    width: 50%;
    margin: 5rem auto;
    text-align: center;
    border: 1px solid;
    border-radius: 1rem;
    padding: 2rem;
}

h1{
    padding-bottom: 2rem;
}